---
import Logo from "/public//logo/logo-social.png"


---

<header class=" fixed w-screen py-4 z-50 backdrop-blur-sm top-0 md:px-8 sm:px-0 lg:px-0">
  <div class="grid grid-cols-3 max-2-7xl mx-auto items-center justify-between flex ">
    <a href="/" class="col-span-1"> 
      <img 
        class="w-20 h-auto m-auto justify-self-center"
        alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
        src="/logo/logo-social.png"
      /> 
    </a>
    <nav
      class="col-span-1 justify-self-center flex"
    >
    <ul class="flex gap-4">
        <li>
            <a class="hover:underline" href="/info"> INFO</a></li>
        <li>ARCHIVO</li>
    </ul>
    </nav>
    <a
      href="/galeria"
      class="border rounded-full inline-block border-white px-1 py-1 justify-self-center hover:bg-white hover:bg-opacity-10 transition- duration-300 ease-in-out"
    >
        Contacto
    </a>

  </div>
</header>