
<section
  class="relative z-10 mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20"
>
  <img class="m-auto mb-10 h-auto w-21 text-white" src="/logo-social.png" />
  <h1
    class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide"
  >
  Bienvenidos a la plataforma Oficial del <br/> <span class="text-pretty">Salon Bosque de Pinos</span>
  </h1>

  <p>
    <strong>el mejor lugar para crear tu Evento , </strong>
    con la mejor calidad y al mejor precio. <strong>Cerca del emblemático desierto de los leones</strong>,
    se encuentra la comunidad de Pinos, un lugar lleno de historia y tradición,
    que se ha dedicado a la producción de productos de la región, como lo son
    el queso, la miel, el vino, el pulque, el pan, la cerveza, el mezcal, el café,
  </p>

  <p>
    <strong>lugar familiar para hacer eventos </strong>  y pasar un rato agradable con la familia y amigos
    en un ambiente agradable y con la mejor atención.
  </p>
  <p>
    <strong>renta de sillas </strong>, mesas, manteles, loza, cristalería, cubiertos, etc.
     <strong> Servicio de buffets, taquizas, parrilladas, </strong> menú infantil, todo para que tu evento sea un éxito.

  </p>
 
</section>