<div class="w-full relative">
    <img 
        class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
        alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
        src="/logo-home.svg"
    />
    <video 
    class="w-full h-screen object-cover object-top" 
    src='/360_LOGO.mp4'
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    autoplay
    loop
    muted
    >
    </video>

    <video 
    class="absolute -bottom-48 blur-3xl -z-40" 
    src="/360_LOGO.mp4"
    autoplay
    loop
    muted
    >
    </video>
</div>